<%- layout('layouts/boilerplate') %>

  <h1>
    <%= title.client %>
  </h1>

  <% for(let asset of assets) { %>
    <div class="card w-75">
      <div class="card-body d-flex row">
        <h5 class="card-title col-md-6">
          <%= asset.ipAddress %> 
        </h5>
        <p class="d-inline col-md-6"> <b>Location: </b> <%= asset.location %></p>
        <p class="card-text"><b> Device Type: </b><%= asset.deviceType %>
            
        </p>
        <a href="#" class=" col-md-2 btn btn-primary">Button</a>
      </div>
    </div>
    <% } %>